@import "tailwindcss";
@import "@nuxt/ui";
@import "./icons.css";

@theme {
    --color-primary     : oklch(0.5477 0.2174 22.64);
    --color-secondary   : oklch(0.62 0.15 210);
    --color-background  : oklch(0.98 0.01 95);
    --color-text-primary: oklch(0.05 0 0)
}

:root {
    background-color: var(--color-background)
}
  

@layer utilities {
    .container {
      @apply px-4 md:px-16 my-4 max-w-none w-full;

      @media (min-width: 1900px) {
        @apply px-80
      }
    }
  }  