@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Bebas+Neue&family=Oxanium:wght@200..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";
@import "@nuxt/ui";
@import "./icons.css";

@theme {
    --color-primary      : oklch(0.5477 0.2174 22.64);
    --color-ui-primary   : oklch(0.5477 0.2174 22.64);
    --color-secondary    : oklch(0.62 0.15 210);
    --color-ui-secondary : oklch(0.5477 0.2174 22.64);
    --color-soyboy       : #d89b43;
    --color-background   : oklch(0.98 0.01 95);
    --ui-bg              : oklch(0.98 0.01 95);
    --color-text-primary : oklch(0.05 0 0);
    --ui-text-highlighted: oklch(0.05 0 0);
    --ui-text            : oklch(0.05 0 0);
    
    --font-rubik: 'Rubik', sans-serif;
}

:root {
    background-color: var(--color-background)
}
  

@layer utilities {
  .container {
    @apply px-4 md:px-16 my-4 max-w-none w-full;

    @media (min-width: 1900px) {
      @apply px-80
    }
  }
} 

h1, h2, h3 {
  font-family: 'Rubik', sans-serif;
  font-weight: t00;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}